<div>
    <p>INICIAR SESION</p>
    <form action="/api/login" class="form_login">
        <input type="text" placeholder="nombre de usuario" class="input_username_login">
        <input type="text" placeholder="contraseña" class="input_password_login">
        <input type="submit">
    </form>
    <a href="/api/signup"><button>Registrarse</button></a>
</div>