<div>
    <p>Registrarse</p>
    <form action="/api/signup" class="form_signup">
        <input type="text" placeholder="nombre de usuario" class="input_username_signup">
        <input type="text" placeholder="contraseña" class="input_password_signup">
        <input type="submit">
    </form>
    <a href="/api/login"><button>iniciar sesion</button></a>
</div>